.jumbotron {
  min-height: 400px;
  text-align: center;
  background: url('../images/baseball2.jpg') no-repeat center fixed;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 50px;
}

.jumbo-container {
  margin-top: 40px;
}

.login-widget {
  background-color: #eee;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 2px 2px 10px #bbb;
}

#forgot-password {
  font-size: .8em;
  cursor: pointer;
}

.about-main {
  padding: 0 20px 40px 20px;
}

.navbar {
  background-color: #050404
}

#title {
  color: #eee;
  text-shadow: 1px 1px 5px #050404
}

.tagline, #brand {
  color: #f0ad4e;
  text-shadow: 1px 1px 5px #050404
}

.change-pw-container {
  padding: 0 20px 40px 20px;
}
