body {
  background-image: url('../images/satinweave.png');
}

.jumbotron {
  min-height: 400px;
  text-align: center;
  background: url('../images/baseball3.jpg') no-repeat center fixed;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 50px;
}

.jumbo-container {
  margin-top: 40px;
}

.nav a {
  color: #f0ad4e;
}

.widget-wrap {
  padding: 0;
}

.login-widget {
  background-color: #fff;
  border: 1px solid #758451;
  border-radius: 1em;
  padding: 10px;
  box-shadow: 2px 2px 10px #bbb;
}

#forgot-password {
  font-size: .8em;
  cursor: pointer;
}

.about-main {
  padding: 0 20px 40px 20px;
}

#top-nav {
  background-color: #050404
}

#title, .page-title {
  color: #eee;
  text-shadow: 1px 1px 5px #050404
}

.page-title {
  margin-top: 40px;
}

.tagline, #brand {
  color: #f0ad4e;
  text-shadow: 1px 1px 5px #050404
}

.change-pw-container {
  padding: 0 20px 40px 20px;
}

.content {
  padding-bottom: 400px;
}

.login-container {
  margin: 0 25%;
}

.row{
  margin: 0 16.6666%;
}

h2 {
  color: #758451;
}

p {
  line-height: 1.8em;
}

.league-wrap {
  padding-top: 30px;
  padding-bottom: 50px;
}

.league-logo {
  height: 250px;
  margin: 0 auto;
  display: block;
}

.division-wrap {
  margin-left: 45%;
}

.division-wrap ul {
  list-style-type: none;
  font-size: 1.5em;
  padding: 0;
}

.division-wrap ul a {
  display: block;
}

.park-pic {
  height:150px;
  width:180px;
  display: block;
}

.ticket-results-wrap, .ticket-sidebar {
  margin-top: 80px;
  margin-bottom: 80px;
}

.ticket-results-wrap {
  border-right: 2px solid gray;
}

.ticket-results-wrap ul{
  margin-left: 30px;
}

.ticket-results-wrap ul li{
  margin-bottom: 20px;
}
