<h3>Change Password</h3>
<div class="change-pw-container col-sm-6">
  <form class="change-pw-form">
    <label>Email</label>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="John@example.com" ng-model="login.email">
    </div>
    <label>Old Password</label>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Old Password" ng-model="login.oldPassword">
    </div>
    <label>New Password</label>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="New Password" ng-model="login.newPassword">
    </div>
    <label>Confirm Password</label>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirm Password" ng-model="login.confirmPassword">
    </div>
    <button class="btn btn-primary" ng-click="login.changePassword()">Change Password</button>
  </form>
  </div>
</div>
