<div class="change-pw-container col-sm-6">

  <div class="alert alert-success pw-reset-alert">
    <button type="button" class="close" ng-click="login.closeAlert()">&times;</button>
    <strong>Your password has been reset. Please check your inbox.</strong>
  </div>

  <form class="change-pw-form">
    <label>Email</label>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="John@example.com" ng-model="login.email">
    </div>
    <label>Old Password</label>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Old Password" ng-model="login.oldPassword">
    </div>
    <label>New Password</label>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="New Password" ng-model="login.newPassword">
    </div>
    <label>Confirm Password</label>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirm Password" ng-model="login.confirmPassword">
    </div>
    <button class="btn btn-warning" ng-click="login.changePassword()">Submit</button>
  </form>

  <div class="alert alert-warning reset-fail-alert">
    <button type="button" class="close" ng-click="login.closeAlert()">&times;</button>
    <strong>Woops!</strong> Invalid email or password.
  </div>

</div>
