<h3>Login</h3>
<div class="login-container col-sm-6">
  <div class="login-widget">
    <form>
      <label>Email</label>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="John@example.com" ng-model="login.email">
      </div>
      <label>Password</label>
      <span id="forgot-password"><a ng-click="login.forgotPassword()">Forgot Password</a></span>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="password" ng-model="login.password">
      </div>
      <button class="btn btn-warning" ng-click="login.login()">Login</button>
      <button class="btn btn-warning" ng-click="login.register()">Register</button>
    </form>
  </div>
</div>
