<div class="prog-welcome">
  <h3>You've seen {{myProg.percentComplete()}} of all parks</h3>
  <h5>Log a visit or check out available tickets by clicking a team below!<h5>
</div>
<div class="progress col-10-sm">
  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{myProg.percentComplete()}}" aria-valuemin="10" aria-valuemax="100" style="width: {{myProg.percentComplete()}};">
    {{myProg.percentComplete()}}
  </div>
</div>

<div class="progress-wrapper">
  <div class="my-visits-wrap col-lg-2" ng-repeat="team in myProg.teams">
    <div>
    <a href="{{team.ticketpath}}">
      <img class="teams" ng-class="{'unvisited': !team.visited}" ng-src="{{team.image}}" alt="{{team.name}}">
    </a>
    <a href="{{team.ticketpath}}">
      <h4 class="progress-team-name">{{team.name}}</h4>
    </a>
    </div>
    <div class="trip-details" ng-hide="!team.visited">
      <div><h5>Date:</h5>{{team.date}}</div>
      <div><h5>Rating:</h5><span class="stars">{{team.rating}}</span></div>
      <div><h5>Comments:</h5>{{team.comments}}</div>
      <button class="btn btn-primary btn-xs" ng-click="myProg.editTrip(team.park)">
        <span class="glyphicon glyphicon-edit"></span>
        <span>Edit</span>
      </button>
    </div>
    <button ng-hide="team.visited" type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" ng-click="myProg.askForDetails(team.park)">
      Mark As Visited
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img class="modal-pic" ng-src="{{myProg.parkPic}}">
        <h4 class="modal-title" id="myModalLabel">How was your trip to {{myProg.park}}?</h4>
      </div>
      <div class="modal-body">
        <form role="form" name="newVisitForm">
          <div class="form-group">
            <label>Date</label>
            <span class="glyphicon glyphicon-calendar"></span>
            <input class="form-control" type="text" ng-model="myProg.visit.date" bs-datepicker data-date-type="string" required>
          </div>
          <div class="form-group">
            <label>Rating</label>
            <select ng-model="myProg.visit.rating">
              <option value="&#9733;">&#9733;</option>
              <option value="&#9733; &#9733;">&#9733; &#9733;</option>
              <option value="&#9733; &#9733; &#9733;">&#9733; &#9733; &#9733;</option>
              <option value="&#9733; &#9733; &#9733; &#9733;">&#9733; &#9733; &#9733; &#9733;</option>
              <option value="&#9733; &#9733; &#9733; &#9733; &#9733;">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
            </select>
          </div>
          <div class="form-group">
            <label>Comments</label>
            <span class="glyphicon glyphicon-comment"></span>
            <textarea cols="40" rows="5" ng-model="myProg.visit.comments" placeholder="Awesome hotdogs!"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="myProg.hideModal()">Cancel</button>
        <button ng-disabled="!(myProg.visit.date && myProg.visit.rating)" type="button" class="btn btn-primary" ng-click="myProg.markAsVisited(myProg.park)">Log Trip</button>
      </div>
    </div>
  </div>
</div>
