<div class="wrapper about-main">
  <div class="row">
    <div class="col-sm-4">
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis, nisi eu hendrerit ornare, metus felis dictum dolor, ac vehicula felis lectus vitae dolor. Vestibulum ac viverra eros. Curabitur ac ullamcorper arcu, in sagittis odio. Cras ac mi at risus aliquet ullamcorper eget vitae odio. Maecenas sagittis vel mauris eu dictum.</p>
    </div>
    <div class="col-sm-4">
      <h3>About 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis, nisi eu hendrerit ornare, metus felis dictum dolor, ac vehicula felis lectus vitae dolor. Vestibulum ac viverra eros. Curabitur ac ullamcorper arcu, in sagittis odio. Cras ac mi at risus aliquet ullamcorper eget vitae odio. Maecenas sagittis vel mauris eu dictum.</p>
    </div>
    <div class="col-sm-4">
      <h3>Get Started</h3>
      <div class="login-widget" ng-controller="loginController as login">
        <form>
          <label>Email</label>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="John@example.com" ng-model="login.email">
          </div>
          <label>Password</label>
          <span id="forgot-password"><a href="#" ng-click="login.forgotPassword()">Forgot Password</a></span>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="password" ng-model="login.password">
          </div>
          <button class="btn btn-warning" ng-click="login.login()">Login</button>
          <button class="btn btn-warning" ng-click="login.register()">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
