<div class="wrapper about-main">
  <div class="row">
    <div>
      <h2>
        <span class="glyphicon glyphicon-check"></span>
        Log Your Trips
      </h2>
      <p>Ground Out is a great tool for baseball fans who are interested in seeing every major league ballpark in America. Track your progess, rate each park, and document the most memorable parts of your trip as you travel across the country. Once finished, you'll have a complete catalog of your entire experience.</p>
    </div>
  </div>
  <div class="row">
    <div>
      <h2>
        <span class="glyphicon glyphicon-road"></span>
        Find Tickets
      </h2>
      <p>Ground Out makes searching for tickets easy. Just click on the team you'd like to visit next, and we'll find you the cheapest tickest on the web to every game for the rest of the season. Not sure which team or park to hit next? Check out other users' park ratings and what they had to say.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 widget-wrap">
      <h2>
        <span class="glyphicon glyphicon-log-in"></span>
        Get Started
      </h2>
      <div class="login-widget">
        <form>
          <label>Email</label>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="John@example.com" ng-model="login.email">
          </div>
          <label>Password</label>
          <span id="forgot-password"><a ng-click="login.forgotPassword()">Forgot Password</a></span>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="password" ng-model="login.password">
          </div>
          <button class="btn btn-warning" ng-click="login.login()">Login</button>
          <button class="btn btn-warning" ng-click="login.register()">Register</button>
        </form>
      </div>
    </div>
  </div>

  <div class="alert alert-warning email-taken-alert">
    <button type="button" class="close" ng-click="login.closeAlert()">&times;</button>
    <strong>Woops!</strong> That email is already in use.
  </div>

  <div class="alert alert-warning invalid-email-alert">
    <button type="button" class="close" ng-click="login.closeAlert()">&times;</button>
    <strong>Woops!</strong> That is not a valid email address.
  </div>

  <div class="alert alert-warning wrong-password-alert">
    <button type="button" class="close" ng-click="login.closeAlert()">&times;</button>
    <strong>Woops!</strong> Invalid email or password.
  </div>

  <div class="alert alert-warning invalid-user-alert">
    <button type="button" class="close" ng-click="login.closeAlert()">&times;</button>
    <strong>Woops!</strong> That email is not registered.
  </div>

  <div class="alert alert-warning reset-fail-alert">
    <button type="button" class="close" ng-click="login.closeAlert()">&times;</button>
    <strong>Woops!</strong> Unable to retrieve password. Please check to see that your email address is correct.
  </div>

</div>
