<div class="wrapper about-main">
  <div class="row">
    <div>
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis, nisi eu hendrerit ornare, metus felis dictum dolor, ac vehicula felis lectus vitae dolor. Vestibulum ac viverra eros. Curabitur ac ullamcorper arcu, in sagittis odio. Cras ac mi at risus aliquet ullamcorper eget vitae odio. Maecenas sagittis vel mauris eu dictum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis, nisi eu hendrerit ornare, metus felis dictum dolor, ac vehicula felis lectus vitae dolor. Vestibulum ac viverra eros. Curabitur ac ullamcorper arcu, in sagittis odio. Cras ac mi at risus aliquet ullamcorper eget vitae odio. Maecenas sagittis vel mauris eu dictum.</p>
    </div>
  </div>
  <div class="row">
    <div>
      <h2>About 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis, nisi eu hendrerit ornare, metus felis dictum dolor, ac vehicula felis lectus vitae dolor. Vestibulum ac viverra eros. Curabitur ac ullamcorper arcu, in sagittis odio. Cras ac mi at risus aliquet ullamcorper eget vitae odio. Maecenas sagittis vel mauris eu dictum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis, nisi eu hendrerit ornare, metus felis dictum dolor, ac vehicula felis lectus vitae dolor. Vestibulum ac viverra eros. Curabitur ac ullamcorper arcu, in sagittis odio. Cras ac mi at risus aliquet ullamcorper eget vitae odio. Maecenas sagittis vel mauris eu dictum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 widget-wrap">
      <h2>Get Started</h2>
      <div class="login-widget">
        <form>
          <label>Email</label>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="John@example.com" ng-model="login.email">
          </div>
          <label>Password</label>
          <span id="forgot-password"><a ng-click="login.forgotPassword()">Forgot Password</a></span>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="password" ng-model="login.password">
          </div>
          <button class="btn btn-warning" ng-click="login.login()">Login</button>
          <button class="btn btn-warning" ng-click="login.register()">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
