<div class="league-wrap col-sm-6">
  <img class="league-logo" src="../images/nationalleague.gif" alt="national league logo">
  <div class="division-wrap">
    <h2 class="division-header">East</h3>
    <ul>
      <li>Washington</li>
      <li>Atlanta</li>
      <li>NY Mets</li>
      <li>Miami</li>
      <li>Philadelphia</li>
    </ul>
    <h2 class="division-header">Central</h3>
    <ul>
      <li>St Louis</li>
      <li>Pittsburgh</li>
      <li>Milwaukee</li>
      <li>Cincinnati</li>
      <li>Chicago Cubs</li>
    </ul>
    <h2 class="division-header">West</h3>
    <ul>
      <li>LA Dodgers</li>
      <li>San Francisco</li>
      <li>San Diego</li>
      <li>Colorado</li>
      <li>Arizona</li>
    </ul>
  </div>
</div>
<div class="league-wrap col-sm-6">
  <img class="league-logo" src="../images/americanleague.png" alt="american league logo">
  <div class="division-wrap">
    <h2 class="division-header">East</h3>
    <ul>
      <li>Baltimore</li>
      <li>NY Yankees</li>
      <li>Toronto</li>
      <li>Tampa Bay</li>
      <li>Boston</li>
    </ul>
    <h2 class="division-header">Central</h3>
    <ul>
      <li>Detroit</li>
      <li>Kansas City</li>
      <li>Cleveland</li>
      <li>Chicago White Sox</li>
      <li>Minnesota</li>
    </ul>
    <h2 class="division-header">West</h3>
    <ul>
      <li>LA Angels</li>
      <li>Oakland</li>
      <li>Seattle</li>
      <li>Houston</li>
      <li>Texas</li>
    </ul>
  </div>
</div>
