<div class="league-wrap col-sm-6">
  <img class="league-logo" src="../images/nationalleague.gif" alt="national league logo">
  <div class="division-wrap">
    <h2 class="division-header">East</h3>
    <ul>
      <a href="/#/tickets/nationals park">Washington</a>
      <a href="/#/tickets/turner field">Atlanta</a>
      <a href="/#/tickets/citi field">NY Mets</a>
      <a href="/#/tickets/marlins park">Miami</a>
      <a href="/#/tickets/citizens bank park">Philadelphia</a>
    </ul>
    <h2 class="division-header">Central</h3>
    <ul>
      <a href="/#/tickets/busch stadium">St Louis</a>
      <a href="/#/tickets/PNC park">Pittsburgh</a>
      <a href="/#/tickets/miller park">Milwaukee</a>
      <a href="/#/tickets/great-american-ball-park">Cincinnati</a>
      <a href="/#/tickets/wrigley field">Chicago Cubs</a>
    </ul>
    <h2 class="division-header">West</h3>
    <ul>
      <a href="/#/tickets/dodger stadium">LA Dodgers</a>
      <a href="/#/tickets/at-t-park">San Francisco</a>
      <a href="/#/tickets/petco park">San Diego</a>
      <a href="/#/tickets/coors field">Colorado</a>
      <a href="/#/tickets/chase field">Arizona</a>
    </ul>
  </div>
</div>
<div class="league-wrap col-sm-6">
  <img class="league-logo" src="../images/americanleague.png" alt="american league logo">
  <div class="division-wrap">
    <h2 class="division-header">East</h3>
    <ul>
      <a href="/#/tickets/oriole park">Baltimore</a>
      <a href="/#/tickets/yankee stadium">NY Yankees</a>
      <a href="/#/tickets/rogers centre">Toronto</a>
      <a href="/#/tickets/tropicana field">Tampa Bay</a>
      <a href="/#/tickets/fenway park">Boston</a>
    </ul>
    <h2 class="division-header">Central</h3>
    <ul>
      <a href="/#/tickets/comerica park">Detroit</a>
      <a href="/#/tickets/kauffman stadium">Kansas City</a>
      <a href="/#/tickets/progressive field">Cleveland</a>
      <a href="/#/tickets/U.S. cellular field">Chicago White Sox</a>
      <a href="/#/tickets/target field">Minnesota</a>
    </ul>
    <h2 class="division-header">West</h3>
    <ul>
      <a href="/#/tickets/angel stadium">LA Angels</a>
      <a href="/#/tickets/O.co coliseum">Oakland</a>
      <a href="/#/tickets/safeco field">Seattle</a>
      <a href="/#/tickets/minute maid park">Houston</a>
      <a href="/#/tickets/globe life park">Texas</a>
    </ul>
  </div>
</div>
