<div class="col-md-3 col-md-push-9 ticket-sidebar">
  <img class="col-sm-4 img-circle park-pic" ng-src="{{ticket.parkPic}}" alt="Ballpark picture">
  <h2 class="col-sm-8 park-name">{{ticket.parkName}}</h2>
  <h4>Avg User Rating:</h4>
  <span class="avg-rating">{{ticket.avgRating}} out of 5</span>
  <button class="list-comments-btn btn btn-primary" ng-show="!ticket.comments" ng-click="ticket.showComments()">View Comments</button>
  <button class="hide-comments-btn btn btn-primary" ng-show="ticket.comments" ng-click="ticket.hideComments()">Hide Comments</button>
  <div class="comments-wrap" ng-show="ticket.comments">
  <ul>
    <li class="user-comments" ng-repeat="comment in ticket.commentsList">
      <span class="comment-date">{{comment.date}}</span>
      <span class="comment-rating">{{comment.rating}}</span>
      <p>{{comment.comments}}</p>
    </li>
  </ul>
  </div>
</div>
<div class="col-md-9 col-md-pull-3 ticket-results-wrap">
  <table class="table table-striped">
    <tr dir-paginate="event in ticket.schedule | itemsPerPage: 10">
      <td class="game-date">
        {{event.datetime_local | date: 'MMM d'}}
      </td>
      <td>
        <h4>{{event.title}}</h4>
        <div>Tickets from {{event.stats.lowest_price | currency: '$'}}</div>
      </td>
      <td><a class="btn btn-warning" href="{{event.url}}" target="_blank">Buy Tickets</a></td>
    </tr>
  </table>
  <dir-pagination-controls template-url="../bower_components/angular-utils-pagination/dirPagination.tpl.html" class="col-md-12"></dir-pagination-controls>
</div>
